# Week 1

In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from math import sqrt
%matplotlib inline

In [3]:
item_categories = pd.read_csv('./item_categories.csv')
sales_train_v2 = pd.read_csv('./sales_train_v2.csv')
test = pd.read_csv('./test.csv')
items = pd.read_csv('./items.csv')
shops = pd.read_csv('./shops.csv')

In [6]:
item_categories.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [7]:
sales_train_v2.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [8]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [9]:
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [10]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [12]:
sales_train_v2.dtypes

date               object
date_block_num      int64
shop_id             int64
item_id             int64
item_price        float64
item_cnt_day      float64
dtype: object

In [27]:
sales_train_v2['date'] = pd.to_datetime(sales_train_v2['date'].apply(lambda x: datetime.strptime(x, '%d.%m.%Y')))

In [35]:
dayofweek = sales_train_v2['date'].apply(lambda x: x.dayofweek)
year = sales_train_v2['date'].apply(lambda x: x.year)
month = sales_train_v2['date'].apply(lambda x: x.month)
day = sales_train_v2['date'].apply(lambda x: x.day)
sales_train_v2['dayofweek'] = dayofweek
sales_train_v2['year'] = year
sales_train_v2['month'] = month
sales_train_v2['day'] = day
sales_train_v2['revenue'] = sales_train_v2['item_price'] * sales_train_v2['item_cnt_day']

sales_train_v2.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,dayofweek,year,month,day,revenue
0,2013-01-02,0,59,22154,999.00,1.0,2,2013,1,2,999.00
1,2013-01-03,0,25,2552,899.00,1.0,3,2013,1,3,899.00
2,2013-01-05,0,25,2552,899.00,-1.0,5,2013,1,5,-899.00
3,2013-01-06,0,25,2554,1709.05,1.0,6,2013,1,6,1709.05
4,2013-01-15,0,25,2555,1099.00,1.0,1,2013,1,15,1099.00

In [47]:
month_sales_sum = sales_train_v2.groupby(['year', 'month', 'shop_id', 'item_id'], as_index=False)[['item_cnt_day', 'revenue']].sum()
month_sales_sum = month_sales_sum.rename(columns={
    'item_cnt_day': 'item_cnt_month',
    'revenue': 'revenue_month',
})
month_sales_sum

         year  month  shop_id  item_id  item_cnt_month  revenue_month
0        2013      1        0       32             6.0         1326.0
1        2013      1        0       33             3.0         1041.0
2        2013      1        0       35             1.0          247.0
3        2013      1        0       43             1.0          221.0
4        2013      1        0       51             2.0          257.0
5        2013      1        0       61             1.0          195.0
6        2013      1        0       75             1.0           76.0
7        2013      1        0       88             1.0           76.0
8        2013      1        0       95             1.0          193.0
9        2013      1        0       96             1.0           70.0
10       2013      1        0       98            25.0         6700.0
11       2013      1        0      111             1.0           89.0
12       2013      1        0      149             3.0          297.0
13       2013      1        0      151             1.0           75.0
14       2013      1        0      153             1.0          258.0
15       2013      1        0      198             1.0          112.0
16       2013      1        0      210             2.0          236.0
17       2013      1        0      282             1.0          109.0
18       2013      1        0      306             1.0           59.0
19       2013      1        0      351             1.0           89.0
20       2013      1        0      421             1.0          162.0
21       2013      1        0      438             1.0          162.0
22       2013      1        0      482             2.0         2720.0
23       2013      1        0      484             4.0          496.0
24       2013      1        0      491             1.0          361.0
25       2013      1        0      498             1.0          124.0
26       2013      1        0      556             9.0          810.0
27       2013      1        0      642             6.0          540.0
28       2013      1        0      651             7.0          630.0
29       2013      1        0      657             2.0          180.0
...       ...    ...      ...      ...             ...            ...
1609094  2015     10       59    19894             1.0          199.0
1609095  2015     10       59    19985             1.0          299.0
1609096  2015     10       59    20303             1.0          399.0
1609097  2015     10       59    20305             1.0          449.0
1609098  2015     10       59    20335             1.0         1149.0
1609099  2015     10       59    20355             1.0         1249.0
1609100  2015     10       59    20392             1.0         2199.0
1609101  2015     10       59    20604             2.0         1998.0
1609102  2015     10       59    20614             1.0         1099.0
1609103  2015     10       59    20629             1.0         2399.0
1609104  2015     10       59    20730             1.0          499.0
1609105  2015     10       59    20751             1.0          699.0
1609106  2015     10       59    20866             4.0         2796.0
1609107  2015     10       59    20949            19.0           95.0
1609108  2015     10       59    21361             1.0         1999.0
1609109  2015     10       59    21364             1.0          399.0
1609110  2015     10       59    21369             2.0          338.0
1609111  2015     10       59    21377             1.0          169.0
1609112  2015     10       59    21386             1.0          169.0
1609113  2015     10       59    21404             1.0          169.0
1609114  2015     10       59    21427             1.0          169.0
1609115  2015     10       59    21449             2.0          898.0
1609116  2015     10       59    21672             1.0          249.0
1609117  2015     10       59    21811             1.0          199.0
1609118  2015     10       59    21812             1.0           99.0
1609119  2015     10       59    22087             6.0          714.0
1609120  2015     10       59    22088             2.0          238.0
1609121  2015     10       59    22091             1.0          179.0
1609122  2015     10       59    22100             1.0          629.0
1609123  2015     10       59    22102             1.0         1250.0

[1609124 rows x 6 columns]

In [48]:
month_sales_mean = sales_train_v2.groupby(['year', 'month', 'shop_id', 'item_id'], as_index=False)['item_price'].mean()
month_sales_mean = month_sales_mean.rename(columns={'item_price': 'mean_price_month'})
month_sales_mean

         year  month  shop_id  item_id  mean_price_month
0        2013      1        0       32             221.0
1        2013      1        0       33             347.0
2        2013      1        0       35             247.0
3        2013      1        0       43             221.0
4        2013      1        0       51             128.5
5        2013      1        0       61             195.0
6        2013      1        0       75              76.0
7        2013      1        0       88              76.0
8        2013      1        0       95             193.0
9        2013      1        0       96              70.0
10       2013      1        0       98             268.0
11       2013      1        0      111              89.0
12       2013      1        0      149              99.0
13       2013      1        0      151              75.0
14       2013      1        0      153             258.0
15       2013      1        0      198             112.0
16       2013      1        0      210             118.0
17       2013      1        0      282             109.0
18       2013      1        0      306              59.0
19       2013      1        0      351              89.0
20       2013      1        0      421             162.0
21       2013      1        0      438             162.0
22       2013      1        0      482            1360.0
23       2013      1        0      484             124.0
24       2013      1        0      491             361.0
25       2013      1        0      498             124.0
26       2013      1        0      556              90.0
27       2013      1        0      642              90.0
28       2013      1        0      651              90.0
29       2013      1        0      657              90.0
...       ...    ...      ...      ...               ...
1609094  2015     10       59    19894             199.0
1609095  2015     10       59    19985             299.0
1609096  2015     10       59    20303             399.0
1609097  2015     10       59    20305             449.0
1609098  2015     10       59    20335            1149.0
1609099  2015     10       59    20355            1249.0
1609100  2015     10       59    20392            2199.0
1609101  2015     10       59    20604             999.0
1609102  2015     10       59    20614            1099.0
1609103  2015     10       59    20629            2399.0
1609104  2015     10       59    20730             499.0
1609105  2015     10       59    20751             699.0
1609106  2015     10       59    20866             699.0
1609107  2015     10       59    20949               5.0
1609108  2015     10       59    21361            1999.0
1609109  2015     10       59    21364             399.0
1609110  2015     10       59    21369             169.0
1609111  2015     10       59    21377             169.0
1609112  2015     10       59    21386             169.0
1609113  2015     10       59    21404             169.0
1609114  2015     10       59    21427             169.0
1609115  2015     10       59    21449             449.0
1609116  2015     10       59    21672             249.0
1609117  2015     10       59    21811             199.0
1609118  2015     10       59    21812              99.0
1609119  2015     10       59    22087             119.0
1609120  2015     10       59    22088             119.0
1609121  2015     10       59    22091             179.0
1609122  2015     10       59    22100             629.0
1609123  2015     10       59    22102            1250.0

[1609124 rows x 5 columns]

In [67]:
month_sales = pd.merge(month_sales_sum, month_sales_mean, on=['year', 'month', 'shop_id', 'item_id'])
train_features = month_sales[['year', 'month', 'shop_id', 'item_id']]
train_targets = month_sales['item_cnt_month'].clip(0, 20)

In [68]:
print(train_features.head())
print(train_targets.head())

   year  month  shop_id  item_id
0  2013      1        0       32
1  2013      1        0       33
2  2013      1        0       35
3  2013      1        0       43
4  2013      1        0       51
0    6.0
1    3.0
2    1.0
3    1.0
4    2.0
Name: item_cnt_month, dtype: float64

In [69]:
X_train, X_valid, y_train, y_valid = train_test_split(train_features, train_targets, test_size=0.2, random_state=42)

In [70]:
regt = DecisionTreeRegressor(max_depth=3)
regt.fit(X_train, y_train)
y_predict = regt.predict(X_valid).clip(0, 20)
rms = sqrt(mean_squared_error(y_valid, y_predict))
print('root mean squared error: {}'.format(rms))

root mean squared error: 2.5205139623040105

In [83]:
test_features = test[['shop_id', 'item_id']]
test_features['year'] = 2015
test_features['month'] = 11
test_features = test_features[['year', 'month', 'shop_id', 'item_id']]
test_targets = regt.predict(test_features).clip(0, 20)

In [88]:
submit_frame = pd.read_csv('./sample_submission.csv')
submit_frame['item_cnt_month'] = test_targets
submit_frame.to_csv('predict_future_sales_test.csv', index=False)